

@font-face {
  font-family: 'kanit';
  src: url('./fonts/Kanit-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'kanit_bold';
  src: url('./fonts/Kanit-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}



@import "tailwindcss";

@layer components {
  :root {
    font-family: kanit, 'Kanit', sans-serif;
  }
}
